{% extends "base.html" %}

{% block content %}
    <h1>Add New Book</h1>

    {% if error %}
    <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    <form method="post" action="/book/add">
        <div class="mb-3">
            <label for="title" class="form-label">Titolo</label>
            <input type="text" class="form-control" id="title" name="title" required>
        </div>
        <div class="mb-3">
            <label for="author" class="form-label">Autore</label>
            <input type="text" class="form-control" id="author" name="author" required>
        </div>
        <div class="mb-3">
            <label for="isbn" class="form-label">Isbn</label>
            <input type="text" class="form-control" id="isbn" name="isbn">
        </div>
        <div class="mb-3">
            <label for="publisher" class="form-label">Casa editrice</label>
            <input type="text" class="form-control" id="publisher" name="publisher">
        </div>
        <div class="mb-3">
            <label for="yearpubblish" class="form-label">Anno pubblicazione</label>
            <input type="text" class="form-control" id="yearpubblish" name="yearpubblish">
        </div>
        <div class="mb-3">
            <label for="release" class="form-label">Edizione</label>
            <input type="text" class="form-control" id="release" name="release">
        </div>
        <div class="mb-3">
            <label for="language" class="form-label">Lingua</label>
            <input type="text" class="form-control" id="language" name="language">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Contenuto</label>
            <input type="text" class="form-control" id="description" name="description">
        </div>
        <button type="submit" class="btn btn-primary">Add Book</button>
    </form>
{% endblock %}
